/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
/.idea
/.vscode
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/bootstrap/cache/*.php
*.log
.DS_Store
Thumbs.db
/coverage
